FIREBASE_API_KEY=
FIREBASE_APP_ID=
FIREBASE_AUTH_DOMAIN=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_VAPID_KEY=BMmu8YDFXuAhp1mIA_khgKp81d31DH20mw9gWmp4VNPdzYr6p1WFVwGkDoQMC2bIYa88UK8WqRalwQZ8iUBUphU
GEMINI_API_KEY=
